In [2]:
import seaborn as sns
import pandas as pd
import numpy as np

In [3]:
df_tips = sns.load_dataset('tips')
df_tips.head(3)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

On peut grouper les données avec un groupy.

In [4]:
df_tips_gb = df_tips.groupby(['sex', 'smoker'])
df_tips_gb

On peut ensuite appliquer des méthodes a ces groupes pour obtenir de l'information par groupe.  
Exemple :

In [5]:
df_tips_gb.size()

sex     smoker
Male    Yes       60
        No        97
Female  Yes       33
        No        54
dtype: int64

In [6]:
df_tips_gb.mean()

               total_bill       tip      size
sex    smoker
Male   Yes      22.284500  3.051167  2.500000
       No       19.791237  3.113402  2.711340
Female Yes      17.977879  2.931515  2.242424
       No       18.105185  2.773519  2.592593

On trouvera une partie des fonctions d'aggrégations possibles [ici](https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html#aggregation).

### Agg

In [7]:


df_tips_agg = df_tips_gb.agg({
    'tip': ['mean', 'min'],
    'day': 'first',
    'total_bill': 'size'
})

df_tips_agg

                    tip         day total_bill
                   mean   min first       size
sex    smoker
Male   Yes     3.051167  1.00   Sat         60
       No      3.113402  1.25   Sun         97
Female Yes     2.931515  1.00   Sat         33
       No      2.773519  1.00   Sun         54

On remarque que l'on obtient une multi-index. On peut revenir à un index normal en utilsant reset_index().

In [8]:
df_tips_agg.reset_index()

      sex smoker       tip         day total_bill
                      mean   min first       size
0    Male    Yes  3.051167  1.00   Sat         60
1    Male     No  3.113402  1.25   Sun         97
2  Female    Yes  2.931515  1.00   Sat         33
3  Female     No  2.773519  1.00   Sun         54

In [17]:
df_tips_agg.unstack(1)

             tip                        day      total_bill
            mean            min       first            size
smoker       Yes        No  Yes    No   Yes   No        Yes  No
sex
Male    3.051167  3.113402  1.0  1.25   Sat  Sun         60  97
Female  2.931515  2.773519  1.0  1.00   Sat  Sun         33  54

On peut ensuite appliquer les opérations