In [2]:
import numpy as np
import pandas as pd
import copy
x = [1, 2, 3]

In [3]:
y = x

In [4]:
y[0] = 42

In [5]:
x

[42, 2, 3]

En python, la création d'une nouvelle variable à partir d'un objet n'entrainne pas forcément la création d'un nouvel objet, mais va simplement créer un pointeur sur l'objet originel en mémoire.

In [6]:
id(x)

139649944784000

In [7]:
id(y)

139649944784000

In [8]:
id(x) == id(y)

True

### Comment copier un objet ?

In [51]:
%reset -f

In [10]:
x

NameError: name 'x' is not defined

In [11]:
x = [1, 2, 3]

In [12]:
y = x.copy()

In [13]:
y[0] = 42

In [14]:
x

[1, 2, 3]

### Exemple qui nous concerne

In [2]:
df = pd.DataFrame({"A": np.random.randint(0, 100, 6)})

In [3]:
df

    A
0  93
1  28
2  19
3  24
4  41
5  81

In [4]:
df2 = df.loc[0:3]

In [8]:
df2.loc[1] = 666

/home/adrienpacifico/anaconda3/envs/pfds_new/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/home/adrienpacifico/anaconda3/envs/pfds_new/lib/python3.8/site-packages/pandas/core/indexing.py:692: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [9]:
df2

     A
0   93
1  666
2   19
3   24

In [10]:
df

     A
0   93
1  666
2   19
3   24
4   41
5   81

In [11]:
id(df)

140362087251392

In [12]:
id(df2)

140362087271824

In [13]:
%reset -f

In [22]:
df = pd.DataFrame({"A": np.random.randint(0, 100, 6)})

In [23]:
df2 = df.loc[0:3].copy()

In [24]:
df2.loc[1] = 666

In [25]:
df2

     A
0   23
1  666
2   45
3   76

In [26]:
df

    A
0  23
1  57
2  45
3  76
4  61
5  85

### Si votre objet est complexe/profond et que vous souhaitez créer une copie de tous ses éléments et sous éléments

In [28]:
df2 = copy.deepcopy(df.loc[0:3])

Est-ce que pandas va réaliser une vue ou une copie ?   
Est-ce qu'une vue va modifier la DataFrame originale ?
Dur à savoir...

In [55]:
%reset -f

In [57]:
df = pd.DataFrame({"A": np.random.randint(0, 100, 6)})
df2 = df.loc[0:3]
df2.loc[1] = 666
df

/home/adrienpacifico/anaconda3/envs/pfds_new/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/home/adrienpacifico/anaconda3/envs/pfds_new/lib/python3.8/site-packages/pandas/core/indexing.py:692: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

     A
0   62
1  666
2   48
3    1
4   66
5   96

In [58]:
df = pd.DataFrame({"A": np.random.randint(0, 100, 6)})
df2 = df.loc[0:3]
df2.loc[1] = "coucou"
df

/home/adrienpacifico/anaconda3/envs/pfds_new/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

    A
0  40
1  68
2  60
3  58
4  35
5  32