Créer une dataframe qui contient deux colonnes A et B. A contient les nombres de 0 à 99 et B contient les 99 premiers nombres pairs.

In [1]:
import pandas as pd

In [2]:
pd.DataFrame({"A": range(100), "B": list(range(200))[::2]})

     A    B
0    0    0
1    1    2
2    2    4
3    3    6
4    4    8
..  ..  ...
95  95  190
96  96  192
97  97  194
98  98  196
99  99  198

[100 rows x 2 columns]