### Exercice facile

In [1]:
import numpy as np
import pandas as pd
from IPython.core.display import HTML
import seaborn as sns

In [2]:
df = sns.load_dataset("tips")

In [3]:
df.sex.value_counts()

Male      157
Female     87
Name: sex, dtype: int64

In [4]:
df.sex.value_counts(normalize=True)

Male      0.643443
Female    0.356557
Name: sex, dtype: float64

Créez une fonction qui permette d'avoir à la fois le value_counts en relatif et en absolu.

In [5]:
HTML("""<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>N_obs</th>\n      <th>Share</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Male</th>\n      <td>157</td>\n      <td>0.643443</td>\n    </tr>\n    <tr>\n      <th>Female</th>\n      <td>87</td>\n      <td>0.356557</td>\n    </tr>\n  </tbody>\n</table>""")

### Solutions

In [6]:
vc1 = df.sex.value_counts()
vc2 = df.sex.value_counts(normalize=True)
pd.concat([vc1, vc2], axis=1)

        sex       sex
Male    157  0.643443
Female   87  0.356557

In [7]:
pd.merge(vc1, vc2, left_index=True, right_index=True).rename({"sex_x": "N_obs", "sex_y": "Share"},
                                                             axis=1)

        N_obs     Share
Male      157  0.643443
Female     87  0.356557

#### Exercice intermédiaire

Une companie aérienne garde l'age de tous ces passagers en fonction du numéro de passager. Elle est contenue dans la table `df_age`.  
Elle garde aussi l'année et le mois auquel un passager à pris l'avion, c'est la `table df`.


1. Décrivez l'age des passagers
2. Est-ce qu'un (ou plusieurs) passager à pris l'avion plus d'une fois ?
2. Créez une table indiquant à quelle date un passager à pris l'avion et son age.

In [8]:
df = sns.load_dataset("flights")
np.random.seed(42)
df_age = pd.DataFrame({"passengers": list(
    range(2000)), "age": np.random.normal(30, 20, size=2000)}).sample(frac=.90)

### Solution

### 1

In [37]:
df_age.describe()

        passengers          age
count  1800.000000  1800.000000
mean    987.972778    30.913607
std     576.664295    19.769665
min       0.000000   -34.825347
25%     491.750000    17.534047
50%     981.500000    30.954836
75%    1481.250000    43.877616
max    1999.000000    93.862151

### 2

In [40]:
df.shape[0] - df.passengers.nunique()

26

In [41]:
df.groupby("passengers").size().sort_values(ascending=False)

passengers
229    3
237    2
242    2
196    2
355    2
      ..
203    1
201    1
194    1
193    1
622    1
Length: 118, dtype: int64

### 3

In [42]:
pd.merge(df, df_age, on="passengers")

     year month  passengers        age
0    1949   Jan         112  31.204604
1    1949   Feb         118  52.856456
2    1949   Dec         118  52.856456
3    1949   Mar         132   8.753926
4    1949   Apr         129  19.930487
..    ...   ...         ...        ...
127  1960   Jul         622  67.640490
128  1960   Aug         606  14.524216
129  1960   Sep         508  30.970433
130  1960   Nov         390  12.031707
131  1960   Dec         432  24.611863

[132 rows x 4 columns]

In [43]:
pd.merge(df, df_age, on="passengers", how="left")

     year month  passengers        age
0    1949   Jan         112  31.204604
1    1949   Feb         118  52.856456
2    1949   Mar         132   8.753926
3    1949   Apr         129  19.930487
4    1949   May         121  11.812251
..    ...   ...         ...        ...
139  1960   Aug         606  14.524216
140  1960   Sep         508  30.970433
141  1960   Oct         461  30.705271
142  1960   Nov         390  12.031707
143  1960   Dec         432  24.611863

[144 rows x 4 columns]

### Question:
Combien de passagers n'avaient pas leur age renseigné dans la table `df_age` ?

⚠️  Votre manager ne vous l'a pas précisé, mais si un passager n'est pas dans la table age, on veut tout de même garder les informations sur son voyage.

In [44]:
pd.merge(df, df_age, on='passengers')

     year month  passengers        age
0    1949   Jan         112  31.204604
1    1949   Feb         118  52.856456
2    1949   Dec         118  52.856456
3    1949   Mar         132   8.753926
4    1949   Apr         129  19.930487
..    ...   ...         ...        ...
127  1960   Jul         622  67.640490
128  1960   Aug         606  14.524216
129  1960   Sep         508  30.970433
130  1960   Nov         390  12.031707
131  1960   Dec         432  24.611863

[132 rows x 4 columns]

In [3]:
sns.load_dataset("flights").sort_values("passengers")

     year month  passengers
10   1949   Nov         104
0    1949   Jan         112
22   1950   Nov         114
12   1950   Jan         115
1    1949   Feb         118
..    ...   ...         ...
137  1960   Jun         535
126  1959   Jul         548
127  1959   Aug         559
139  1960   Aug         606
138  1960   Jul         622

[144 rows x 3 columns]

In [48]:
df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [36]:
vc1 = pd.DataFrame(vc1)

In [ ]:
vc1.join(vc2)

In [ ]:
df.

In [ ]:
# Exer

ValueError: columns overlap but no suffix specified: Index(['sex'], dtype='object')

In [21]:
pd.DataFrame(vc1).join(vc2)

ValueError: columns overlap but no suffix specified: Index(['sex'], dtype='object')