### Statsmodels

In [1]:
import seaborn as sns

In [2]:
import statsmodels

In [3]:
import statsmodels.formula.api as smf

In [4]:
df = sns.load_dataset("titanic")

In [5]:
df.rename({"class":"classe"}, axis=1, inplace=True)

In [6]:
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,classe,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

### Regression linéaire simple avec R style formulas

In [7]:
results = smf.ols('survived ~ age + sibsp + fare + classe', data=df).fit() # Sibsp - Number of Siblings/Spouses Aboard

In [8]:
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               survived   R-squared:                       0.190
Model:                            OLS   Adj. R-squared:                  0.184
Method:                 Least Squares   F-statistic:                     33.16
Date:                Fri, 30 Apr 2021   Prob (F-statistic):           1.90e-30
Time:                        07:01:56   Log-Likelihood:                -430.30
No. Observations:                 714   AIC:                             872.6
Df Residuals:                     708   BIC:                             900.0
Df Model:                           5
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept            0.9329      0.074     12.692      0.000       0.789       1.077
classe[T.Second]    -0.1938      0.056     -3.480      0.001      -0.303      -0.084
classe[T.Third]     -0.4616      0.054     -8.518      0.000      -0.568      -0.355
age                 -0.0087      0.001     -6.650      0.000      -0.011      -0.006
sibsp               -0.0427      0.019     -2.231      0.026      -0.080      -0.005
fare                 0.0008      0.000      2.077      0.038     4.6e-05       0.002
==============================================================================
Omnibus:                      258.942   Durbin-Watson:                   1.924
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               49.026
Skew:                           0.336   Prob(JB):                     2.26e-11
Kurtosis:                       1.906   Cond. No.                         387.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

#### Format classique

In [9]:
import pandas as pd

In [10]:
classe_dummies = pd.get_dummies(df.classe)

In [11]:
df = pd.merge(df, classe_dummies, left_index=True, right_index=True)

In [12]:
import statsmodels.api as sm
y = df.dropna().survived
X = df.dropna()[["age","sibsp","fare", "Second", "Third"]]
X = sm.add_constant(X)

In [13]:
sm.OLS(y, X.dropna()).fit().summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               survived   R-squared:                       0.093
Model:                            OLS   Adj. R-squared:                  0.067
Method:                 Least Squares   F-statistic:                     3.619
Date:                Fri, 30 Apr 2021   Prob (F-statistic):            0.00385
Time:                        07:01:59   Log-Likelihood:                -111.18
No. Observations:                 182   AIC:                             234.4
Df Residuals:                     176   BIC:                             253.6
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.9138      0.115      7.965      0.000       0.687       1.140
age           -0.0078      0.002     -3.328      0.001      -0.012      -0.003
sibsp          0.0193      0.055      0.351      0.726      -0.090       0.128
fare           0.0005      0.000      1.016      0.311      -0.000       0.001
Second         0.0662      0.132      0.502      0.616      -0.194       0.326
Third         -0.2595      0.160     -1.625      0.106      -0.575       0.056
==============================================================================
Omnibus:                       74.262   Durbin-Watson:                   1.987
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               23.162
Skew:                          -0.658   Prob(JB):                     9.34e-06
Kurtosis:                       1.849   Cond. No.                         601.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""