### Statsmodels

In [4]:
import seaborn as sns

In [5]:
import statsmodels

In [6]:
import statsmodels.formula.api as smf

In [7]:
df = sns.load_dataset("titanic")

In [8]:
df.rename({"class":"classe"}, axis=1, inplace=True)

In [9]:
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,classe,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

### Regression linéaire simple avec R style formulas

In [13]:
results = smf.ols('survived ~ age + sibsp + fare + classe+sex', data=df).fit() # Sibsp - Number of Siblings/Spouses Aboard

In [14]:
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               survived   R-squared:                       0.400
Model:                            OLS   Adj. R-squared:                  0.395
Method:                 Least Squares   F-statistic:                     78.64
Date:                Fri, 15 Apr 2022   Prob (F-statistic):           3.27e-75
Time:                        14:29:37   Log-Likelihood:                -322.89
No. Observations:                 714   AIC:                             659.8
Df Residuals:                     707   BIC:                             691.8
Df Model:                           6
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept            1.1711      0.065     17.998      0.000       1.043       1.299
classe[T.Second]    -0.2007      0.048     -4.187      0.000      -0.295      -0.107
classe[T.Third]     -0.3928      0.047     -8.382      0.000      -0.485      -0.301
sex[T.male]         -0.4846      0.031    -15.754      0.000      -0.545      -0.424
age                 -0.0065      0.001     -5.752      0.000      -0.009      -0.004
sibsp               -0.0568      0.016     -3.445      0.001      -0.089      -0.024
fare                 0.0003      0.000      0.729      0.466      -0.000       0.001
==============================================================================
Omnibus:                       25.290   Durbin-Watson:                   1.847
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               27.291
Skew:                           0.479   Prob(JB):                     1.19e-06
Kurtosis:                       3.037   Cond. No.                         390.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

#### Format classique

In [9]:
import pandas as pd

In [10]:
classe_dummies = pd.get_dummies(df.classe)

In [11]:
df = pd.merge(df, classe_dummies, left_index=True, right_index=True)

In [12]:
import statsmodels.api as sm
y = df.dropna().survived
X = df.dropna()[["age","sibsp","fare", "Second", "Third"]]
X = sm.add_constant(X)

In [13]:
sm.OLS(y, X.dropna()).fit().summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               survived   R-squared:                       0.093
Model:                            OLS   Adj. R-squared:                  0.067
Method:                 Least Squares   F-statistic:                     3.619
Date:                Fri, 30 Apr 2021   Prob (F-statistic):            0.00385
Time:                        07:01:59   Log-Likelihood:                -111.18
No. Observations:                 182   AIC:                             234.4
Df Residuals:                     176   BIC:                             253.6
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.9138      0.115      7.965      0.000       0.687       1.140
age           -0.0078      0.002     -3.328      0.001      -0.012      -0.003
sibsp          0.0193      0.055      0.351      0.726      -0.090       0.128
fare           0.0005      0.000      1.016      0.311      -0.000       0.001
Second         0.0662      0.132      0.502      0.616      -0.194       0.326
Third         -0.2595      0.160     -1.625      0.106      -0.575       0.056
==============================================================================
Omnibus:                       74.262   Durbin-Watson:                   1.987
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               23.162
Skew:                          -0.658   Prob(JB):                     9.34e-06
Kurtosis:                       1.849   Cond. No.                         601.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

## Exercice avec les accidents de la route

1. Récupérer la base de donnée des accidents de la route 2017, 2018, 2019
1. Mettre en forme la donnée pour avoir nombre de morts par accident avec la vitesse sur la route
1. Faire une regression linéaire en double différence pour voir si le passage à 80 km/h diminue la probabilité d'avoir au moins un mort sur un accident.