In [1]:
import pandas as pd
import numpy as np

In [2]:
#https://www.data.gouv.fr/fr/datasets/frequentation-des-musees-de-france/
df = pd.read_csv("https://www.data.gouv.fr/fr/datasets/r/81e9e4c0-296d-46b0-9c49-9d092c09dcc5")

### Découvrir une table

#### Regarder rapidement les données.

On a les 5 premières lignes et les 5 dernières si la table est assez grande.

In [3]:
df

,id,osm_id,name,number,street,postal_code,city,country,country_code,status,lat,lon,website,phone,fax,year,stats,tags,description
0,0105302,NaN,Musée Départemental des Pays De l'Ain,NaN,NaN,NaN,BOURG-EN-BRESSE,France,fr,open,NaN,NaN,NaN,NaN,NaN,2018,payant:0;gratuit:0;label-date:01/02/2003,label:musee de france,NaN
1,0119201,1.357668e+09,Musée Archéologique,NaN,Place de l'Église,01580,Izernore,France,fr,open,46.220134,5.554812,NaN,NaN,NaN,2018,payant:1644;gratuit:2174;label-date:01/02/2003,label:musee de france,NaN
2,0128301,1.536397e+09,Musée du Peigne et de la Plasturgie,NaN,Rue Capitaine Montreal,01100,Veyziat,France,fr,open,46.260779,5.646525,NaN,NaN,NaN,2018,payant:1509;gratuit:2397;label-date:01/02/2003,label:musee de france,NaN
3,0319002,NaN,Centre National du Costume de Scène et de la S...,NaN,NaN,NaN,MOULINS,France,fr,open,NaN,NaN,NaN,NaN,NaN,2018,payant:72733;gratuit:21431;label-date:23/10/2009,label:musee de france,NaN
4,0701001,4.424167e+09,Musée Vivarois César Filhol,15,Rue Jean-Baptiste Bechetoille,07100,Annonay,France,fr,closed,45.240800,4.668035,NaN,NaN,NaN,2018,payant:0;gratuit:0;label-date:01/02/2003,label:musee de france,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1156,8400701,8.378474e+07,Muséum d'Histoire Naturelle Esprit Requien,27,Rue de la République,84000,Avignon,France,fr,open,43.945892,4.806026,NaN,NaN,NaN,2018,payant:0;gratuit:16705;label-date:06/01/2002,label:musee de france,NaN
1157,8403503,5.111377e+09,Musée Jouve,NaN,Rue Hébraïque,84300,Cavaillon,France,fr,closed,43.837171,5.038598,NaN,NaN,NaN,2018,payant:0;gratuit:0;label-date:01/02/2003,label:musee de france,NaN
1158,8403502,NaN,Musée de l'Hôtel Dieu,NaN,NaN,NaN,CAVAILLON,France,fr,open,NaN,NaN,NaN,NaN,NaN,2018,payant:232;gratuit:963;label-date:01/02/2003,label:musee de france,NaN
1159,8412301,7.494836e+08,Musée Municipal,NaN,Rue du Musée,84390,Sault,France,fr,open,44.091141,5.408472,NaN,NaN,NaN,2018,payant:0;gratuit:425;label-date:01/02/2003,label:musee de france,NaN
1160,8413701,8.854919e+07,Musée Archéologique Théo Desplans,NaN,Rue Burrus,84110,Vaison-la-Romaine,France,fr,open,44.242854,5.074631,NaN,NaN,NaN,2018,payant:59378;gratuit:9957;label-date:01/02/2003,label:musee de france,NaN

#### Les premières lignes

In [4]:
df.head()

,id,osm_id,name,number,street,postal_code,city,country,country_code,status,lat,lon,website,phone,fax,year,stats,tags,description
0,0105302,NaN,Musée Départemental des Pays De l'Ain,NaN,NaN,NaN,BOURG-EN-BRESSE,France,fr,open,NaN,NaN,NaN,NaN,NaN,2018,payant:0;gratuit:0;label-date:01/02/2003,label:musee de france,NaN
1,0119201,1.357668e+09,Musée Archéologique,NaN,Place de l'Église,01580,Izernore,France,fr,open,46.220134,5.554812,NaN,NaN,NaN,2018,payant:1644;gratuit:2174;label-date:01/02/2003,label:musee de france,NaN
2,0128301,1.536397e+09,Musée du Peigne et de la Plasturgie,NaN,Rue Capitaine Montreal,01100,Veyziat,France,fr,open,46.260779,5.646525,NaN,NaN,NaN,2018,payant:1509;gratuit:2397;label-date:01/02/2003,label:musee de france,NaN
3,0319002,NaN,Centre National du Costume de Scène et de la S...,NaN,NaN,NaN,MOULINS,France,fr,open,NaN,NaN,NaN,NaN,NaN,2018,payant:72733;gratuit:21431;label-date:23/10/2009,label:musee de france,NaN
4,0701001,4.424167e+09,Musée Vivarois César Filhol,15,Rue Jean-Baptiste Bechetoille,07100,Annonay,France,fr,closed,45.240800,4.668035,NaN,NaN,NaN,2018,payant:0;gratuit:0;label-date:01/02/2003,label:musee de france,NaN

In [5]:
df.head(7)

,id,osm_id,name,number,street,postal_code,city,country,country_code,status,lat,lon,website,phone,fax,year,stats,tags,description
0,0105302,NaN,Musée Départemental des Pays De l'Ain,NaN,NaN,NaN,BOURG-EN-BRESSE,France,fr,open,NaN,NaN,NaN,NaN,NaN,2018,payant:0;gratuit:0;label-date:01/02/2003,label:musee de france,NaN
1,0119201,1.357668e+09,Musée Archéologique,NaN,Place de l'Église,01580,Izernore,France,fr,open,46.220134,5.554812,NaN,NaN,NaN,2018,payant:1644;gratuit:2174;label-date:01/02/2003,label:musee de france,NaN
2,0128301,1.536397e+09,Musée du Peigne et de la Plasturgie,NaN,Rue Capitaine Montreal,01100,Veyziat,France,fr,open,46.260779,5.646525,NaN,NaN,NaN,2018,payant:1509;gratuit:2397;label-date:01/02/2003,label:musee de france,NaN
3,0319002,NaN,Centre National du Costume de Scène et de la S...,NaN,NaN,NaN,MOULINS,France,fr,open,NaN,NaN,NaN,NaN,NaN,2018,payant:72733;gratuit:21431;label-date:23/10/2009,label:musee de france,NaN
4,0701001,4.424167e+09,Musée Vivarois César Filhol,15,Rue Jean-Baptiste Bechetoille,07100,Annonay,France,fr,closed,45.240800,4.668035,NaN,NaN,NaN,2018,payant:0;gratuit:0;label-date:01/02/2003,label:musee de france,NaN
5,0731601,6.833278e+07,Musée et Site Archéologiques,NaN,Rue des Ruines,07130,Soyons,France,fr,open,44.887927,4.850776,NaN,NaN,NaN,2018,payant:12670;gratuit:2040;label-date:01/02/2003,label:musee de france,NaN
6,7428102,5.537445e+09,Musée du Chablais,2,Rue Michaud,74200,Thonon-les-Bains,France,fr,open,46.373593,6.478211,NaN,NaN,NaN,2018,payant:1179;gratuit:1656;label-date:01/02/2003,label:musee de france,NaN

##### Les dernières lignes

In [6]:
df.tail(2)

,id,osm_id,name,number,street,postal_code,city,country,country_code,status,lat,lon,website,phone,fax,year,stats,tags,description
1159,8412301,749483617.0,Musée Municipal,NaN,Rue du Musée,84390,Sault,France,fr,open,44.091141,5.408472,NaN,NaN,NaN,2018,payant:0;gratuit:425;label-date:01/02/2003,label:musee de france,NaN
1160,8413701,88549191.0,Musée Archéologique Théo Desplans,NaN,Rue Burrus,84110,Vaison-la-Romaine,France,fr,open,44.242854,5.074631,NaN,NaN,NaN,2018,payant:59378;gratuit:9957;label-date:01/02/2003,label:musee de france,NaN

#### Quelques lignes prises au hasard.

In [7]:
df.sample(n=5, random_state=42)

,id,osm_id,name,number,street,postal_code,city,country,country_code,status,lat,lon,website,phone,fax,year,stats,tags,description
538,6754401,1.672636e+08,Musée Westercamp,NaN,Rue du Musée,67160,Wissembourg,France,fr,open,49.038953,7.944872,NaN,NaN,NaN,2018,payant:0;gratuit:461;label-date:01/02/2003,label:musee de france,NaN
673,4410901,6.742735e+06,Muséum d'Histoire Naturelle de Nantes,12,Rue Voltaire,44000,Nantes,France,fr,open,47.212587,-1.564703,NaN,NaN,NaN,2018,payant:47681;gratuit:96819;label-date:06/01/2002,label:musee de france,NaN
578,9201201,NaN,Musée des Années Trente,NaN,NaN,NaN,BOULOGNE-BILLANCOURT,France,fr,open,NaN,NaN,NaN,NaN,NaN,2018,payant:13762;gratuit:0;label-date:01/02/2003,label:musee de france,NaN
242,8400704,1.490236e+09,Musée Calvet (et musée Lapidaire),NaN,Cours du Musée Calvet,84000,Avignon,France,fr,open,43.946967,4.803630,NaN,NaN,NaN,2018,payant:0;gratuit:41175;label-date:06/01/2002,label:musee de france,NaN
1063,5012903,NaN,Musée de la Guerre et de la Libération,NaN,NaN,NaN,CHERBOURG-EN-COTENTIN,France,fr,open,NaN,NaN,NaN,NaN,NaN,2018,payant:2951;gratuit:5026;label-date:01/02/2003,label:musee de france,NaN

In [8]:
#### Pour qu'elles soient mise dans l'odre
df.sample(n=5, random_state=42).sort_index()

,id,osm_id,name,number,street,postal_code,city,country,country_code,status,lat,lon,website,phone,fax,year,stats,tags,description
242,8400704,1.490236e+09,Musée Calvet (et musée Lapidaire),NaN,Cours du Musée Calvet,84000,Avignon,France,fr,open,43.946967,4.803630,NaN,NaN,NaN,2018,payant:0;gratuit:41175;label-date:06/01/2002,label:musee de france,NaN
538,6754401,1.672636e+08,Musée Westercamp,NaN,Rue du Musée,67160,Wissembourg,France,fr,open,49.038953,7.944872,NaN,NaN,NaN,2018,payant:0;gratuit:461;label-date:01/02/2003,label:musee de france,NaN
578,9201201,NaN,Musée des Années Trente,NaN,NaN,NaN,BOULOGNE-BILLANCOURT,France,fr,open,NaN,NaN,NaN,NaN,NaN,2018,payant:13762;gratuit:0;label-date:01/02/2003,label:musee de france,NaN
673,4410901,6.742735e+06,Muséum d'Histoire Naturelle de Nantes,12,Rue Voltaire,44000,Nantes,France,fr,open,47.212587,-1.564703,NaN,NaN,NaN,2018,payant:47681;gratuit:96819;label-date:06/01/2002,label:musee de france,NaN
1063,5012903,NaN,Musée de la Guerre et de la Libération,NaN,NaN,NaN,CHERBOURG-EN-COTENTIN,France,fr,open,NaN,NaN,NaN,NaN,NaN,2018,payant:2951;gratuit:5026;label-date:01/02/2003,label:musee de france,NaN

#### Avoir des informations techiques.

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1161 entries, 0 to 1160
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1161 non-null   object
 1   osm_id        917 non-null    float64
 2   name          1161 non-null   object
 3   number        196 non-null    object
 4   street        890 non-null    object
 5   postal_code   905 non-null    object
 6   city          1160 non-null   object
 7   country       1161 non-null   object
 8   country_code  1161 non-null   object
 9   status        1161 non-null   object
 10  lat           917 non-null    float64
 11  lon           917 non-null    float64
 12  website       0 non-null      float64
 13  phone         0 non-null      float64
 14  fax           0 non-null      float64
 15  year          1161 non-null   int64
 16  stats         1161 non-null   object
 17  tags          1161 non-null   object
 18  description   0 non-null      float64
dtypes: float64(7), int64(1), object(11)
memory usage: 172.5+ KB

Retourne les colonnes avec leur type. Le type est inféré par le lecteur de csv.
Les object sont généralement des string, le typpage des variables numériques est souvent le plus large possible.

### Avoir un résumé statistique

In [10]:
df.describe()

,osm_id,lat,lon,website,phone,fax,year,description
count,9.170000e+02,917.000000,917.000000,0.0,0.0,0.0,1161.0,0.0
mean,1.538879e+09,45.991215,2.714602,NaN,NaN,NaN,2018.0,NaN
std,2.163928e+09,6.806261,8.929845,NaN,NaN,NaN,0.0,NaN
min,7.444000e+03,-34.603178,-61.537012,NaN,NaN,NaN,2018.0,NaN
25%,8.318416e+07,44.562265,1.076350,NaN,NaN,NaN,2018.0,NaN
50%,3.003413e+08,47.085087,2.830196,NaN,NaN,NaN,2018.0,NaN
75%,2.323052e+09,48.788486,5.054248,NaN,NaN,NaN,2018.0,NaN
max,8.313179e+09,51.037887,135.832533,NaN,NaN,NaN,2018.0,NaN

On voit que les variables non numériques sont sorties de la table.

In [11]:
df

,id,osm_id,name,number,street,postal_code,city,country,country_code,status,lat,lon,website,phone,fax,year,stats,tags,description
0,0105302,NaN,Musée Départemental des Pays De l'Ain,NaN,NaN,NaN,BOURG-EN-BRESSE,France,fr,open,NaN,NaN,NaN,NaN,NaN,2018,payant:0;gratuit:0;label-date:01/02/2003,label:musee de france,NaN
1,0119201,1.357668e+09,Musée Archéologique,NaN,Place de l'Église,01580,Izernore,France,fr,open,46.220134,5.554812,NaN,NaN,NaN,2018,payant:1644;gratuit:2174;label-date:01/02/2003,label:musee de france,NaN
2,0128301,1.536397e+09,Musée du Peigne et de la Plasturgie,NaN,Rue Capitaine Montreal,01100,Veyziat,France,fr,open,46.260779,5.646525,NaN,NaN,NaN,2018,payant:1509;gratuit:2397;label-date:01/02/2003,label:musee de france,NaN
3,0319002,NaN,Centre National du Costume de Scène et de la S...,NaN,NaN,NaN,MOULINS,France,fr,open,NaN,NaN,NaN,NaN,NaN,2018,payant:72733;gratuit:21431;label-date:23/10/2009,label:musee de france,NaN
4,0701001,4.424167e+09,Musée Vivarois César Filhol,15,Rue Jean-Baptiste Bechetoille,07100,Annonay,France,fr,closed,45.240800,4.668035,NaN,NaN,NaN,2018,payant:0;gratuit:0;label-date:01/02/2003,label:musee de france,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1156,8400701,8.378474e+07,Muséum d'Histoire Naturelle Esprit Requien,27,Rue de la République,84000,Avignon,France,fr,open,43.945892,4.806026,NaN,NaN,NaN,2018,payant:0;gratuit:16705;label-date:06/01/2002,label:musee de france,NaN
1157,8403503,5.111377e+09,Musée Jouve,NaN,Rue Hébraïque,84300,Cavaillon,France,fr,closed,43.837171,5.038598,NaN,NaN,NaN,2018,payant:0;gratuit:0;label-date:01/02/2003,label:musee de france,NaN
1158,8403502,NaN,Musée de l'Hôtel Dieu,NaN,NaN,NaN,CAVAILLON,France,fr,open,NaN,NaN,NaN,NaN,NaN,2018,payant:232;gratuit:963;label-date:01/02/2003,label:musee de france,NaN
1159,8412301,7.494836e+08,Musée Municipal,NaN,Rue du Musée,84390,Sault,France,fr,open,44.091141,5.408472,NaN,NaN,NaN,2018,payant:0;gratuit:425;label-date:01/02/2003,label:musee de france,NaN
1160,8413701,8.854919e+07,Musée Archéologique Théo Desplans,NaN,Rue Burrus,84110,Vaison-la-Romaine,France,fr,open,44.242854,5.074631,NaN,NaN,NaN,2018,payant:59378;gratuit:9957;label-date:01/02/2003,label:musee de france,NaN

📌 On va volontairement changer l'index pour ne pas confondre sur la prochaine section ce qui relève de l'indexage via à vis de la position, ou du nom.

In [84]:
## Question
df.index = range(len(df)*5)[::5]

## Selectionner des sous ensemble de la DataFrame

[Documentation officielle](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html)

#### Methodes simples

### Colonnes

#### Selectionner une seule colonne 
1. df["Nom_de_colonne"]
2. df.Nom_de_colonne

In [12]:
df["street"]

0                                 NaN
1                   Place de l'Église
2              Rue Capitaine Montreal
3                                 NaN
4       Rue Jean-Baptiste Bechetoille
                    ...
1156             Rue de la République
1157                    Rue Hébraïque
1158                              NaN
1159                     Rue du Musée
1160                       Rue Burrus
Name: street, Length: 1161, dtype: object

In [13]:
df.street

0                                 NaN
1                   Place de l'Église
2              Rue Capitaine Montreal
3                                 NaN
4       Rue Jean-Baptiste Bechetoille
                    ...
1156             Rue de la République
1157                    Rue Hébraïque
1158                              NaN
1159                     Rue du Musée
1160                       Rue Burrus
Name: street, Length: 1161, dtype: object

1. Methode par slicing:
    - des noms avec des espaces
    - des noms de méthodes ou d'attributs d'une dataframe
    - ne permet pas d'utiliser l'autocompletion
2. Methode par attribut:
    - pas de noms avec espaces
    - n'accède pas aux colonnes qui ont des noms de méthodes ou d'attributs d'une dataframe
    - permet pas d'utiliser l'autocompletion

In [14]:
df_test = pd.DataFrame({"abs":[1,2,4,5]})

In [15]:
df_test.abs

<bound method NDFrame.abs of    abs
0    1
1    2
2    4
3    5>

#### Selectionner plusieurs colonnes

In [16]:
df[["name", "city"]]

                                                   name               city
0                 Musée Départemental des Pays De l'Ain    BOURG-EN-BRESSE
1                                   Musée Archéologique           Izernore
2                   Musée du Peigne et de la Plasturgie            Veyziat
3     Centre National du Costume de Scène et de la S...            MOULINS
4                           Musée Vivarois César Filhol            Annonay
...                                                 ...                ...
1156         Muséum d'Histoire Naturelle Esprit Requien            Avignon
1157                                        Musée Jouve          Cavaillon
1158                              Musée de l'Hôtel Dieu          CAVAILLON
1159                                    Musée Municipal              Sault
1160                  Musée Archéologique Théo Desplans  Vaison-la-Romaine

[1161 rows x 2 columns]

In [17]:
df.__getitem__(["name", "city"])

                                                   name               city
0                 Musée Départemental des Pays De l'Ain    BOURG-EN-BRESSE
1                                   Musée Archéologique           Izernore
2                   Musée du Peigne et de la Plasturgie            Veyziat
3     Centre National du Costume de Scène et de la S...            MOULINS
4                           Musée Vivarois César Filhol            Annonay
...                                                 ...                ...
1156         Muséum d'Histoire Naturelle Esprit Requien            Avignon
1157                                        Musée Jouve          Cavaillon
1158                              Musée de l'Hôtel Dieu          CAVAILLON
1159                                    Musée Municipal              Sault
1160                  Musée Archéologique Théo Desplans  Vaison-la-Romaine

[1161 rows x 2 columns]

### Lignes

On peut utiliser la notation en crochet comme pour une liste, pour slicer en fonction de la position de la ligne.

In [18]:
df[9:12]

,id,osm_id,name,number,street,postal_code,city,country,country_code,status,lat,lon,website,phone,fax,year,stats,tags,description
9,3818507,2.388639e+09,Musée Stendhal,20,Grande Rue,38000,Grenoble,France,fr,open,45.191580,5.728147,NaN,NaN,NaN,2018,payant:451;gratuit:4112;label-date:01/02/2003,label:musee de france,NaN
10,3818502,1.102624e+06,Musée Dauphinois,30,Rue Maurice Gignoux,38031,Grenoble,France,fr,open,45.195149,5.727072,NaN,NaN,NaN,2018,payant:0;gratuit:84194;label-date:01/02/2003,label:musee de france,NaN
11,3819001,1.869974e+09,Maison du Patrimoine de Hières-sur-Amby,NaN,Montée de la Cure,38118,Hières-sur-Amby,France,fr,open,45.797051,5.293209,NaN,NaN,NaN,2018,payant:7598;gratuit:1122;label-date:01/02/2003,label:musee de france,NaN

Si on applique la même méthode à une série, c'est également la position qui va être utilisée.

In [19]:
df.name[9:12]

9                              Musée Stendhal
10                           Musée Dauphinois
11    Maison du Patrimoine de Hières-sur-Amby
Name: name, dtype: object

#### Attention `df[9]` va rechercher une colonne qui aurait la valeur 9

In [20]:
df[9]

KeyError: 9

#### Selection par index pour par position

Deux méthodes (canonique) pour sélectionner des sous ensemble de dataframe. 
`loc` et `iloc`.

- `loc` permet de sélectionner par l'`index` pandas, en d'autre terme en fonction du "nom" de la ligne ou du nom de la colonne.
- `iloc` permet de sélectionner par la *position*  (le `i` de `iloc` vient de ''integer position based'' )

In [21]:
df_disney = pd.DataFrame(
    [["Riri","Canard", 1937, .80],   
     ["Dingo", "Chien", 1932, 1.8],#### Ceci est un dictionnaire de dictionnaire
    ["Mickey",  "Souris", 1928, 1],
     ["Donald", "canard", np.nan, 1.05]
   ], columns=["nom", "Espece", "date_creation", "taille"]).set_index("nom")

In [22]:
df_disney

        Espece  date_creation  taille
nom
Riri    Canard         1937.0    0.80
Dingo    Chien         1932.0    1.80
Mickey  Souris         1928.0    1.00
Donald  canard            NaN    1.05

In [23]:
df_disney.loc["Riri",:]  #Peut être raccourcie en .loc["Riri"]

Espece           Canard
date_creation    1937.0
taille              0.8
Name: Riri, dtype: object

In [24]:
df_disney.iloc[0,:]

Espece           Canard
date_creation    1937.0
taille              0.8
Name: Riri, dtype: object

Donc en utilisant loc et iloc, on slice la dataframe, le premier élément correspondant à la ligne, et le deuxième à la colonne.

`.loc["start_row_name":"end_row_name", "start_column_name":"end_column_name]`

In [25]:
df_disney.loc["Riri"] #Selectionne la ligne de Riri
df_disney.loc["Riri":"Mickey"] #Sélectionne les ligne de Riri à Mickey inclu...
df_disney.loc["Riri":"Mickey", "Espece":"date_creation" ] # Sélectionne les lignes de Riri à Michey et de Espece à date_creation
df_disney.loc[["Riri", "Donald", "Dingo"], ["taille", "Espece"]]

        taille  Espece
nom
Riri      0.80  Canard
Donald    1.05  canard
Dingo     1.80   Chien

### Purpose selected obs

In [26]:
df.head()
df.tail()
df.sample()

,id,osm_id,name,number,street,postal_code,city,country,country_code,status,lat,lon,website,phone,fax,year,stats,tags,description
811,6002901,7.846098e+09,Musée de la Céramique Architecturale,NaN,Avenue du Maréchal Foch,60390,Auneuil,France,fr,closed,49.371984,1.990306,NaN,NaN,NaN,2018,payant:0;gratuit:0;label-date:01/02/2003,label:musee de france,NaN

### Sélectionner le musée le plus au sud

In [27]:
df.lat.idxmin?

Signature: df.lat.idxmin(axis=0, skipna=True, *args, **kwargs)
Docstring:
Return the row label of the minimum value.

If multiple values equal the minimum, the first row label with that
value is returned.

Parameters
----------
axis : int, default 0
    For compatibility with DataFrame.idxmin. Redundant for application
    on Series.
skipna : bool, default True
    Exclude NA/null values. If the entire Series is NA, the result
    will be NA.
*args, **kwargs
    Additional arguments and keywords have no effect but might be
    accepted for compatibility with NumPy.

Returns
-------
Index
    Label of the minimum value.

Raises
------
ValueError
    If the Series is empty.

See Also
--------
numpy.argmin : Return indices of the minimum values
    along the given axis.
DataFrame.idxmin : Return index of first occurrence of minimum
    over requested axis.
Series.idxmax : Return index *label* of the first occurrence
    of maximum of values.

Notes
-----
This method is the Series version of ``ndarray.argmin``. This method
returns the label of the minimum, while ``ndarray.argmin`` returns
the position. To get the position, use ``series.values.argmin()``.

Examples
--------
>>> s = pd.Series(data=[1, None, 4, 1],
...               index=['A', 'B', 'C', 'D'])
>>> s
A    1.0
B    NaN
C    4.0
D    1.0
dtype: float64

>>> s.idxmin()
'A'

If `skipna` is False and there is an NA value in the data,
the function returns ``nan``.

>>> s.idxmin(skipna=False)
nan
File:      /srv/conda/envs/notebook/lib/python3.7/site-packages/pandas/core/series.py
Type:      method

In [28]:
df.lat.min()

-34.603178

In [29]:
df.lat.idxmin() ## Return row label

344

In [30]:
df.loc[df.lat.idxmin()]

id                                               6216004
osm_id                                        18822516.0
name                         Muséum d'Histoire Naturelle
number                                               NaN
street                                  Boulogne Sur Mer
postal_code                                     C1187AAN
city                                        Buenos Aires
country                                        Argentina
country_code                                          ar
status                                            closed
lat                                           -34.603178
lon                                           -58.406302
website                                              NaN
phone                                                NaN
fax                                                  NaN
year                                                2018
stats           payant:0;gratuit:0;label-date:01/02/2003
tags                               label:musee de france
description                                          NaN
Name: 344, dtype: object

In [31]:
### Ou plus simplement (mais potentiellement mois performant ?)
df.sort_values("lat").iloc[0]

id                                               6216004
osm_id                                        18822516.0
name                         Muséum d'Histoire Naturelle
number                                               NaN
street                                  Boulogne Sur Mer
postal_code                                     C1187AAN
city                                        Buenos Aires
country                                        Argentina
country_code                                          ar
status                                            closed
lat                                           -34.603178
lon                                           -58.406302
website                                              NaN
phone                                                NaN
fax                                                  NaN
year                                                2018
stats           payant:0;gratuit:0;label-date:01/02/2003
tags                               label:musee de france
description                                          NaN
Name: 344, dtype: object

### Résumé dans la documentation

<img src='./images/select_data_methods.png'></img>

#### Modifier une ou plusieurs valeurs

In [32]:
df.loc[0, "name"] = "Muahahahaha"

In [33]:
df.head()

,id,osm_id,name,number,street,postal_code,city,country,country_code,status,lat,lon,website,phone,fax,year,stats,tags,description
0,0105302,NaN,Muahahahaha,NaN,NaN,NaN,BOURG-EN-BRESSE,France,fr,open,NaN,NaN,NaN,NaN,NaN,2018,payant:0;gratuit:0;label-date:01/02/2003,label:musee de france,NaN
1,0119201,1.357668e+09,Musée Archéologique,NaN,Place de l'Église,01580,Izernore,France,fr,open,46.220134,5.554812,NaN,NaN,NaN,2018,payant:1644;gratuit:2174;label-date:01/02/2003,label:musee de france,NaN
2,0128301,1.536397e+09,Musée du Peigne et de la Plasturgie,NaN,Rue Capitaine Montreal,01100,Veyziat,France,fr,open,46.260779,5.646525,NaN,NaN,NaN,2018,payant:1509;gratuit:2397;label-date:01/02/2003,label:musee de france,NaN
3,0319002,NaN,Centre National du Costume de Scène et de la S...,NaN,NaN,NaN,MOULINS,France,fr,open,NaN,NaN,NaN,NaN,NaN,2018,payant:72733;gratuit:21431;label-date:23/10/2009,label:musee de france,NaN
4,0701001,4.424167e+09,Musée Vivarois César Filhol,15,Rue Jean-Baptiste Bechetoille,07100,Annonay,France,fr,closed,45.240800,4.668035,NaN,NaN,NaN,2018,payant:0;gratuit:0;label-date:01/02/2003,label:musee de france,NaN

In [34]:
df.loc[2:10, "city"] = "Gotham city"

In [35]:
df.head()

,id,osm_id,name,number,street,postal_code,city,country,country_code,status,lat,lon,website,phone,fax,year,stats,tags,description
0,0105302,NaN,Muahahahaha,NaN,NaN,NaN,BOURG-EN-BRESSE,France,fr,open,NaN,NaN,NaN,NaN,NaN,2018,payant:0;gratuit:0;label-date:01/02/2003,label:musee de france,NaN
1,0119201,1.357668e+09,Musée Archéologique,NaN,Place de l'Église,01580,Izernore,France,fr,open,46.220134,5.554812,NaN,NaN,NaN,2018,payant:1644;gratuit:2174;label-date:01/02/2003,label:musee de france,NaN
2,0128301,1.536397e+09,Musée du Peigne et de la Plasturgie,NaN,Rue Capitaine Montreal,01100,Gotham city,France,fr,open,46.260779,5.646525,NaN,NaN,NaN,2018,payant:1509;gratuit:2397;label-date:01/02/2003,label:musee de france,NaN
3,0319002,NaN,Centre National du Costume de Scène et de la S...,NaN,NaN,NaN,Gotham city,France,fr,open,NaN,NaN,NaN,NaN,NaN,2018,payant:72733;gratuit:21431;label-date:23/10/2009,label:musee de france,NaN
4,0701001,4.424167e+09,Musée Vivarois César Filhol,15,Rue Jean-Baptiste Bechetoille,07100,Gotham city,France,fr,closed,45.240800,4.668035,NaN,NaN,NaN,2018,payant:0;gratuit:0;label-date:01/02/2003,label:musee de france,NaN