In [2]:
import pandas as pd
import numpy as np

### Applymap : applique une fonction élément par élément

In [3]:
df = pd.DataFrame(np.random.randint(10, size=(6, 4)), columns=list('ABCD'))

df

   A  B  C  D
0  8  9  6  2
1  3  7  0  6
2  4  7  2  3
3  1  5  0  2
4  2  2  8  0
5  6  3  8  7

In [4]:
df.applymap(lambda x: str(x) * x)

          A          B         C        D
0  88888888  999999999    666666       22
1       333    7777777             666666
2      4444    7777777        22      333
3         1      55555                 22
4        22         22  88888888
5    666666        333  88888888  7777777

### Apply applique une fonction le long d'un axe

In [5]:
df.B.apply(lambda x: str(x) * x)

0    999999999
1      7777777
2      7777777
3        55555
4           22
5          333
Name: B, dtype: object

In [6]:
df.B.apply(np.sum)

0    9
1    7
2    7
3    5
4    2
5    3
Name: B, dtype: int64

In [7]:
df.apply(np.sum, axis=0)

A    24
B    33
C    24
D    20
dtype: int64

In [8]:
df.apply(lambda x: (x - x.mean()) / x.std())

          A         B         C         D
0  1.533930  1.313527  0.527046 -0.501570
1 -0.383482  0.562940 -1.054093  1.003140
2  0.000000  0.562940 -0.527046 -0.125392
3 -1.150447 -0.187647 -1.054093 -0.501570
4 -0.766965 -1.313527  1.054093 -1.253925
5  0.766965 -0.938233  1.054093  1.379317

In [9]:
def normalize_data(s):
    return s - s.mean() / s.std()

In [10]:
df.apply(normalize_data)

         A         B         C         D
0  6.46607  6.935887  4.945907  0.746075
1  1.46607  4.935887 -1.054093  4.746075
2  2.46607  4.935887  0.945907  1.746075
3 -0.53393  2.935887 -1.054093  0.746075
4  0.46607 -0.064113  6.945907 -1.253925
5  4.46607  0.935887  6.945907  5.746075

⚠️ Transform fait la même chose que apply quand ce n'est pas appliqué à un groupe.

In [14]:
df.transform(normalize_data)

         A         B         C         D
0  6.46607  6.935887  4.945907  0.746075
1  1.46607  4.935887 -1.054093  4.746075
2  2.46607  4.935887  0.945907  1.746075
3 -0.53393  2.935887 -1.054093  0.746075
4  0.46607 -0.064113  6.945907 -1.253925
5  4.46607  0.935887  6.945907  5.746075

Cependant elles ne se comportent pas parreil quand on les utilise sur des groupes (avec un groupby):
- Apply  : envoie les groupes en DataFrame à la fonction appliquée
- Transform : envoie les groupes en série à la fonction appliquée
    
[Plus d'information ici](https://stackoverflow.com/questions/27517425/apply-vs-transform-on-a-group-object)

En règle générale, si on travaille sur un groupby, c'est plutôt `transform` qu'il faut utiliser.

### Agg

In [16]:
df.agg(['sum', 'min', 'std'])

             A          B          C         D
sum  24.000000  33.000000  24.000000  20.00000
min   1.000000   2.000000   0.000000   0.00000
std   2.607681   2.664583   3.794733   2.65832

Note : on a vu les trois cas ou il faut souvent utiliser une fonction anonyme `lambda` (applymap, apply, transform), il en reste une dernière qui est apply.

In [17]:
df.assign(E=lambda x: x.A/x.B, F=lambda x: x.B / 2)

   A  B  C  D         E    F
0  8  9  6  2  0.888889  4.5
1  3  7  0  6  0.428571  3.5
2  4  7  2  3  0.571429  3.5
3  1  5  0  2  0.200000  2.5
4  2  2  8  0  1.000000  1.0
5  6  3  8  7  2.000000  1.5