In [5]:
import pandas as pd
import numpy as np

### Applymap : applique une fonction élément par élément

In [9]:
df = pd.DataFrame(np.random.randint(10, size=(6, 4)), columns=list('ABCD'))

df

   A  B  C  D
0  0  6  1  0
1  5  8  0  9
2  1  6  2  1
3  3  4  7  0
4  4  6  0  3
5  1  0  4  1

In [10]:
df.applymap(lambda x: str(x) * x)

       A         B        C          D
0           666666        1
1  55555  88888888           999999999
2      1    666666       22          1
3    333      4444  7777777
4   4444    666666                 333
5      1               4444          1

### Apply applique une fonction le long d'un axe

In [13]:
df.B.apply(lambda x: str(x) * x)

0      666666
1    88888888
2      666666
3        4444
4      666666
5
Name: B, dtype: object

In [14]:
df.B.apply(np.sum)

0    6
1    8
2    6
3    4
4    6
5    0
Name: B, dtype: int64

In [17]:
df.apply(np.sum, axis=0)

A    14
B    30
C    14
D    14
dtype: int64

In [22]:
df.apply(lambda x: (x - x.mean()) / x.std())

          A         B         C         D
0 -1.186611  0.362738 -0.487950 -0.677349
1  1.356127  1.088214 -0.853913  1.935282
2 -0.678064  0.362738 -0.121988 -0.387056
3  0.339032 -0.362738  1.707825 -0.677349
4  0.847579  0.362738 -0.853913  0.193528
5 -0.678064 -1.813691  0.609938 -0.387056

In [26]:
def normalize_data(s):
    return s - s.mean() /s.std()

In [27]:
df.apply(normalize_data)

          A         B         C         D
0 -1.186611  4.186309  0.146087 -0.677349
1  3.813389  6.186309 -0.853913  8.322651
2 -0.186611  4.186309  1.146087  0.322651
3  1.813389  2.186309  6.146087 -0.677349
4  2.813389  4.186309 -0.853913  2.322651
5 -0.186611 -1.813691  3.146087  0.322651

In [29]:
df.agg(['sum', 'min', 'std'])

             A         B         C          D
sum  14.000000  30.00000  14.00000  14.000000
min   0.000000   0.00000   0.00000   0.000000
std   1.966384   2.75681   2.73252   3.444803

In [30]:
df.assign(E= lambda x: x.A/x.B, F= lambda x: x.B/ 2)

   A  B  C  D         E    F
0  0  6  1  0  0.000000  3.0
1  5  8  0  9  0.625000  4.0
2  1  6  2  1  0.166667  3.0
3  3  4  7  0  0.750000  2.0
4  4  6  0  3  0.666667  3.0
5  1  0  4  1       inf  0.0