Pandas permet de lire nativement de nombreux formats de fichiers. Les standars de chaque fichier peuvent rendre plus ou moins facile la lecture de ces fichiers et leur mise au format DataFrame.

### Exeple rapide et formats
(csv, hdf, feather, excel, sql, stata, sas, parquet, etc)

Le mieux est d'aller jetter un oeil au [guide utilisateur de la section IO](https://pandas.pydata.org/docs/user_guide/io.html) sur le format concerné.

In [1]:
import pandas as pd

In [4]:
pd.read_csv()
pd.read_stata()
pd.read_excel()
pd.read_hdf()
pd.read_stata()
pd.read_sas()
pd.read_spss()

TypeError: read_csv() missing 1 required positional argument: 'filepath_or_buffer'

### Stocker ses fichiers

Il arrive que l'on ait envie de stocker ses résultats intermédiaires ou finaux.

In [2]:
df = pd.DataFrame()

In [ ]:
df.to_csv()
df.to_excel()
df.to_latex()
df.to_stata()

Mes préférés:

In [ ]:
df.to_feather() #Très rapide, mais un peu rigide
df.to_hdf() # rapide, et assez flexible

#### Exemple

In [4]:
import seaborn as sns
df = sns.load_dataset('mpg')

In [7]:
%pip install pyarrow

Collecting pyarrow
  Downloading pyarrow-7.0.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (26.7 MB)
     |████████████████████████████████| 26.7 MB 586 kB/s
Requirement already satisfied: numpy>=1.16.6 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pyarrow) (1.21.6)
Installing collected packages: pyarrow
Successfully installed pyarrow-7.0.0
Note: you may need to restart the kernel to use updated packages.

In [8]:
df.to_feather("mpg.feather")

In [9]:
pd.read_feather("mpg.feather")

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10