In [1]:
import pandas as pd

![](images/its_a_trap.jpeg)

## Dtypes

### La conversion de la mort

In [11]:
df = pd.DataFrame({"A":[3.4, 3, 12]})

In [12]:
df.dtypes

A    float64
dtype: object

In [13]:
df.astype("int32")

    A
0   3
1   3
2  12

Pas de souci, on peut convertir les float en int pour garder de la place en m√©moire et pandas fait la troncation tout seul üéâü•Ç !

In [15]:
pd.DataFrame({"A":[30000000.4, 3, 12]}).astype("int8")

     A
0 -128
1    3
2   12

üò≠

Il faut faire attention sur les conversions et s'assurer que le type d'arriv√©e est compatible avec le type initial.

In [20]:
pd.DataFrame({"A":[3.141592653589793238462643383279, 3.0, 12.0]})#.astype("int8")

           A
0   3.141593
1   3.000000
2  12.000000

In [23]:
pd.DataFrame({"A":[3.141592653589793238462643383279, 3.0, 12.0]}).astype("float16")

           A
0   3.140625
1   3.000000
2  12.000000

#### Mixed dtypes

In [33]:
df = pd.DataFrame(list(range(100)))

In [34]:
df.dtypes

0    int64
dtype: object

In [38]:
df.iloc[2] = "coucou"

In [39]:
df.dtypes

0    object
dtype: object

In [51]:
type(df.iloc[5].values[0])

int

Il arrive souvent d'avoir des mixed dtypes en lisant un csv car pandas les lis en chunk, puis attribue un type.   
Souvent sur les d√©partements, 2A et 2B vont g√©n√©rer des mixed dtypes sur la s√©rie.

#### L'index qui joue des tours

In [53]:
df1 = pd.DataFrame(list(range(100)))
df2 = pd.DataFrame(list(range(100)))

In [55]:
df1["Somme"] = df1+df2

In [64]:
df1  # On a bien cr√©√© la somme de la colonne de df1  et de la conlonne de df2

     0  Somme
0    0    NaN
1    1    NaN
2    2    NaN
3    3    NaN
4    4    NaN
..  ..    ...
95  95  140.0
96  96  142.0
97  97  144.0
98  98  146.0
99  99  148.0

[100 rows x 2 columns]

In [65]:
df2.index = list(range(50, 150))

In [67]:
df2

      0
50    0
51    1
52    2
53    3
54    4
..   ..
145  95
146  96
147  97
148  98
149  99

[100 rows x 1 columns]

In [68]:
df1["Somme"] = df1+df2

In [69]:
df1

     0  Somme
0    0    NaN
1    1    NaN
2    2    NaN
3    3    NaN
4    4    NaN
..  ..    ...
95  95  140.0
96  96  142.0
97  97  144.0
98  98  146.0
99  99  148.0

[100 rows x 2 columns]

Il manque les 50 premi√®res valeurs. Ce comportement vaut aussi pour les conditions, les masks, etc !

In [70]:
df1 = pd.DataFrame(list(range(100)))
df2 = pd.DataFrame(list(range(100)))

In [72]:
df1

     0
0    0
1    1
2    2
3    3
4    4
..  ..
95  95
96  96
97  97
98  98
99  99

[100 rows x 1 columns]

### View vs copy

https://pandas.pydata.org/docs/user_guide/basics.html?highlight=dtype#copying

In [80]:
(19/155)*(155/19)

0.9999999999999999

In [85]:
a = (19/155)

In [87]:
a*(1/a)

1.0

In [93]:
b = (155/19)

In [94]:
a * b

0.9999999999999999

##### Heureusement il y a numpy

In [95]:
import numpy as np

In [98]:
a = np.array([19])/np.array([155])
b = np.array([155])/np.array([19])

In [99]:
a * b

array([1.])

In [101]:
(
    (np.array([19]) / np.array([155]))
    * (np.array([155]) / np.array([19]))
)

array([1.])