In [11]:
import pandas as pd

In [12]:
df = pd.read_csv(
    "https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv")

In [13]:
df[(df.Country == "Turkey")]

   Country Region
92  Turkey   ASIA

In [14]:
df_Asia = df[df.Region == "ASIA"]

In [5]:
df_Asia.loc[df_Asia["Country"] == "Turkey", "Region"] = "Europe"

/home/adrienpacifico/anaconda3/envs/cours_python_for_data_science/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/home/adrienpacifico/anaconda3/envs/cours_python_for_data_science/lib/python3.8/site-packages/pandas/core/indexing.py:692: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [6]:
df_Asia.tail(10)

                 Country  Region
88             Sri Lanka    ASIA
89                 Syria    ASIA
90            Tajikistan    ASIA
91              Thailand    ASIA
92                Turkey  Europe
93          Turkmenistan    ASIA
94  United Arab Emirates    ASIA
95            Uzbekistan    ASIA
96               Vietnam    ASIA
97                 Yemen    ASIA

In [7]:
df.query("Country=='Turkey'")

   Country Region
92  Turkey   ASIA

In [9]:
df_Asia.query("Country=='Turkey'")

   Country  Region
92  Turkey  Europe

In [17]:
df

       Country         Region
0      Algeria         AFRICA
1       Angola         AFRICA
2        Benin         AFRICA
3     Botswana         AFRICA
4      Burkina         AFRICA
..         ...            ...
189   Paraguay  SOUTH AMERICA
190       Peru  SOUTH AMERICA
191   Suriname  SOUTH AMERICA
192    Uruguay  SOUTH AMERICA
193  Venezuela  SOUTH AMERICA

[194 rows x 2 columns]