In [19]:
import pandas as pd

In [36]:
df = pd.read_csv("https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv")

In [37]:
df[(df.Country == "Turkey")]

   Country Region
92  Turkey   ASIA

In [38]:
df_Asia = df[df.Region == "ASIA"]

In [39]:
df_Asia.loc[df_Asia["Country"] == "Turkey", "Region"] = "Europe"

/srv/conda/envs/notebook/lib/python3.7/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/srv/conda/envs/notebook/lib/python3.7/site-packages/pandas/core/indexing.py:723: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [40]:
df_Asia.tail(10)

                 Country  Region
88             Sri Lanka    ASIA
89                 Syria    ASIA
90            Tajikistan    ASIA
91              Thailand    ASIA
92                Turkey  Europe
93          Turkmenistan    ASIA
94  United Arab Emirates    ASIA
95            Uzbekistan    ASIA
96               Vietnam    ASIA
97                 Yemen    ASIA

In [25]:
df.query("Country=='Turkey'")

   Country Region
92  Turkey   ASIA

In [26]:
df_Asia.query("Country=='Turkey'")

   Country  Region
92  Turkey  Europe

In [34]:
df.loc[91] = "coucou"

In [28]:
df_Asia.query("Country=='Afghanistan'")

        Country Region
54  Afghanistan   ASIA

In [33]:
df.query("Country=='Algeria'")

   Country  Region
0  Algeria  coucou