In [1]:
import pandas as pd
import seaborn as sns

In [3]:
df = sns.load_dataset("iris")

In [8]:
cm = sns.light_palette("green", as_cmap=True)
df.groupby("species").mean().style.background_gradient(cmap=cm)

In [10]:
cm = sns.light_palette("green", as_cmap=True)
df.groupby("species").mean().style.background_gradient(cmap="viridis")